<div class="row" id="background">
	<div class="col-md-1">
	</div>
	<div class="col-md-3" style="margin-top: 10em;">
		<div class="row" ng-repeat="question in labels track by $index">
			<a ng-click="openChart(question)" ><div class="col-md-12" id="openChart">
				{{question}}
			</div></a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-8" id="title">
				<h1>Group Visualization</h1>
				<br>
			</div>
			<div class="col-md-2" style="padding-top: 5em;">
				<a ng-click="back()">BACK</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="chart" ng-show="open">
				<div id="detailView"></div>
			</div>
		</div>
	</div>
</div>