<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12" id="title">
				<h1>Group Visualization Project One</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-6" style="font-family: futura;">
				<p style="font-family: futura; font-size: 2em;">Click on the plots to dig deeper into the data, Use the selector to find questions that matches the qualities you are looking for
				<p>
				<br>
				<br>
				<button class="btn-primary" style="height: 3em; width: 5em;" ng-click="start()">Start</button>
			</div>
		</div>
	</div>
</div>